{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <a href="{% url 'swaps:index' %}"><button type="button" >Назад</button></a>
    <h3>Свапы</h3>
    <h2>{{ swap.swap_title }}</h2>
    <span>
        <p>{{ swap.lot_1.lot_title }} - {{ swap.lot_2.lot_title }}</p>
        <img class="lot_1_img" src="{% static 'img/1.jpg'%}" alt="not found">
        <img class="lot_2_img" src="{% static 'img/2.jpg'%}" alt="not found">
    </span>
    <br>
    <em>{{ swap.swap_date }}</em>
    <br>
    <br>
    {% if id_user_create_swap != id_user %}
        {% if not swap.swap_full %}
            <h3>Мои Лоты</h3>
            <p>Выбери Лот и свапайся - нажми на Лот для свапа</p>
            {% for l in my_lots_list %}
                <a href="{% url 'swaps:add_swap2' swap.id l.id %}">{{ l.lot_title }}</a><br>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}