{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="content">
        <a class="nav" href="{% url 'lots:index' %}">
            <p>Лоты</p>
        </a>
        <div class="center">
            <h3 class="header_block">Свапы</h3>
            <div class="content_block">
            {% if all_swaps_list %}
                {% for s in all_swaps_list %}
                    <a href="{% url 'swaps:detail' s.id %}">{{ s.swap_title }}</a><br>
                {% endfor %}
            {% else %}
                {% for s in exclude_my_swaps_list %}
                    <a href="{% url 'swaps:detail' s.id %}">{{ s.swap_title }}</a><br>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}