html, body{
    margin: 0;
    padding: 2vh;
}

body{
    background-color: darkslateblue;
}

.user_info{
    background-color: indigo;
    text-align: center;
}

.lot_1_img, .lot_2_img{
    width: 10vh;
}

h3{
    color: lightgray;
}

p, a, em, h2{
    color: whitesmoke;
}

a{
    outline: none;
    text-decoration: none;
}

.full_swap{
    color: red;
}
