{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Swaps{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <p>свап в который добавили второй лот должен убираться из общего списка свапов, этот свап видят только участники</p>
    <p>лоты должны делится на те которые в свапах и нет, лот который в свапе нельзя добавить в еще один свап</p>
    {% block content %} {% endblock %}

</body>
</html>