{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Swaps{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
    <header>
        <a class="logo" href="{% url 'swaps:index' %}">
            <img src="{% static 'img/logo.svg' %}" alt="logo">
        </a>
        {% if user.is_authenticated %}
            <p class="username">{{ user.username }}</p>
            <a class="logout" href="{% url 'logout' %}">Log out</a>
        {% else %}
            <p class="username">You are not logged in.</p>
            <a class="logout" href="{% url 'login' %}">Log In</a>
        {% endif %}
    </header>
        {% comment %}<p>добавить удаление и изменение лота</p>
        <p>в просмотре своего лота который уже в свапе, добавить ссылку на сам свап, возможно не нужно</p>
        <p>убрать кнопку свапнуть в лотах которые уже в свапе, возможно тоже лишнее как и предыдущий</p>
        <p>добавить кнопки согласится на свап или отменить</p>{% endcomment %}
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>created by 2022</p>
    </footer>
</body>
</html>